{% block homeOpinions %}
    <section class="opinions">
        <h2 class="opinions__title heading2">
            Opiniones de otros guardianes
        </h2>
        <ul class="row">
            {% for index, opinion in opinions %}
                {% if index <3 %}
            <li class="col-md-4">
                <div class="opinion">
                    <blockquote class="opinion__blq simple-bubble text-large">
                        {{ opinion.text |capitalize }}
                    </blockquote>
                    <p class="opinion__author text-large">
                        {{ opinion.author | capitalize }}
                    </p>
                </div>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <a href={{ path('newOpinion') }}>Envía tu opinión</a>
{% endblock %}