{% block homeForm %}
    <section class="app-form">
        <div class="row">
            <div class="col-md-5">
                <div class="app-form__w-app-img">
                    <img src="assets/img/iPhoneX.png"
                         srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                         alt=""
                         class="app-form__app-img">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="the-form">
                    {{ form_start(sectionForm) }}
                    <p class="the-form__title heading3">
                        Solicita una demo
                    </p>
                    <div class="the-form__group">
                        {{ form_label(sectionForm.name, 'Nombre') }}
                        {{ form_widget(sectionForm.name, {'attr': {'class': 'the-form__input'}}) }}
                    </div>
                    <div class="the-form__group">
                        {{ form_label(sectionForm.email, 'Email') }}
                        {{ form_widget(sectionForm.email, {'attr': {'class': 'the-form__input'}}) }}
                    </div>
                    <div class="the-form__group">
                        {{ form_label(sectionForm.ciudad, 'Ciudad') }}
                        {{ form_widget(sectionForm.ciudad, {'attr': {'class': 'the-form_input the-form_select'}}) }}
                    </div>
                    <div class="the-form_group the-form_group_checkbox">
                        {{ form_row(sectionForm.privacy) }}
                    </div>
                        <input type="submit"
                               class="the-form__btn btn btn-lg btn-primary"
                               value="Enviar">
                    {{ form_end(sectionForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}