{% block howWorks %}
<section class="howworks">
    <h2 class="howworks__title heading2">
        ¿Cómo funciona?
    </h2>
    <ol class="howworks__steps row">
        <li class="col-md-4">
            <div class="howworks__step">
                <div class="howworks__step-w-bola">
                    <div class="howworks__step-bola">
                        <span class="heading3">1</span>
                    </div>
                </div>
                <div class="howworks__step-w-txt">
                    <p class="howworks__step-title heading3">
                        Date de alta
                    </p>
                    <p class="howworks__step-txt">
                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-md-4">
            <div class="howworks__step">
                <div class="howworks__step-w-bola">
                    <div class="howworks__step-bola">
                        <span class="heading3">1</span>
                    </div>
                </div>
                <div class="howworks__step-w-txt">
                    <p class="howworks__step-title heading3">
                        Date de alta
                    </p>
                    <p class="howworks__step-txt">
                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-md-4">
            <div class="howworks__step">
                <div class="howworks__step-w-bola">
                    <div class="howworks__step-bola">
                        <span class="heading3">1</span>
                    </div>
                </div>
                <div class="howworks__step-w-txt">
                    <p class="howworks__step-title heading3">
                        Date de alta
                    </p>
                    <p class="howworks__step-txt">
                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                    </p>
                </div>
            </div>
        </li>
    </ol>
</section>
{% endblock %}