{% extends '../base.html.twig' %}

{% block body %}

    {# aquí se imprimirían todas las opciones disponibles para guardar tus maletas.
    In need of a loop para recorrer el array de la base de datos???#}

<div class="row">
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        One of three columns
    </div>
    <div class="col-sm">
        One of three columns
    </div>
</div>

{% endblock %}