{% block homeForm %}
    <section class="app-form">
        <div class="row">
            <div class="col-md-5">
                <div class="app-form__w-app-img">
                    <img src="assets/img/iPhoneX.png"
                         srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                         alt=""
                         class="app-form__app-img">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="the-form">
                    {{ form_start(OpinionForm) }}
                    <p class="the-form__title heading3">
                        Deja tu opinión
                    </p>
                    <div class="the-form__group">
                        {{ form_label(OpinionForm.author, 'Nombre') }}
                        {{ form_widget(OpinionForm.author, {'attr': {'class': 'the-form__input'}}) }}
                    </div>
                    <div class="the-form__group">
                        {{ form_label(OpinionForm.text, 'Opinion') }}
                        {{ form_widget(OpinionForm.text, {'attr': {'class': 'the-form__input'}}) }}
                    </div>
                     {{ form_widget(OpinionForm.send, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}

                    {{ form_end(OpinionForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}