<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenido a Maleteo{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/styles/styles.css">
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
{% include 'header.html.twig' %}

{% block body %}
    <main>
        <div class="jumbo">
            <div class="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="jumbo__ww-title">
                                <div class="jumbo__w-title">
                                    <h1 class="jumbo__title heading1">
                                        Gana dinero guardando equipaje a viajeros como tu
                                    </h1>
                                    <ul class="jumbo__app-btns">
                                        <li>
                                            <a href="#">
                                                <img src="assets/img/app-store.svg"
                                                     alt=""
                                                     class="jumbo__app-btn">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="assets/img/google-play.svg"
                                                     alt=""
                                                     class="jumbo__app-btn">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container-fluid">
                {% include 'Home/homeHowWorks.html.twig' %}
                {% include 'Home/homeForm.html.twig' %}
                {% include 'Home/homeOpinions.html.twig' %}
            </div>
        </div>

    </main>
{% endblock %}
{% include 'footer.html.twig' %}
</body>
</html>