{% block header %}
    <div class="wrapper">
        <div class="container-fluid">
            <header class="header">
                <nav class="navbar justify-content-between">
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/logo.svg" alt="Maleteo">
                    </a>
                    <div class=" ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        {% for message in app.flashes('success')%}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </header>
        </div>
    </div>
{% endblock %}